@charset "utf-8";
body {
    background-color: #87cefa;
}
.heading {
    font-family: "Comic Sans MS";
    color: #FFFFFF;
	text-align: right;
	line-height: 1;
	margin-right: 15px;
}
.subh {
	font-family: "Comic Sans MS";
    font-style: small-caption;
    color: #FFFFFF;
	text-align: center;
}

.dheads {
	font-family: "Comic Sans MS";
    font-style: small-caption;
    color: #FFFFFF;
	text-align: left;
	margin-left: 15px;
}

.points {
	font-family: "Comic Sans MS";
    color: #FFFFFF;
	text-align: left;
	line-height: 1;
	margin-left: 15px;
}
	
